@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="row w-100 d-flex justify-content-center">
<div class="mainContainer col-8 p-2 border rounded ps-3 pe-3 pb-2">
    <h1>Личный кабинет</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>
</div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
