@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="manageNav nav-link @ManageNavPages.IndexNavClass(ViewContext) bg-dark " id="profile" asp-page="./Index">Профиль</a></li>
    <li class="nav-item"><a class="manageNav  nav-link @ManageNavPages.EmailNavClass(ViewContext) bg-dark " id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="manageNav  nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) bg-dark" id="change-password" asp-page="./ChangePassword">Пароль</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
</ul>

<script>
    document.getElementById('profile').onclick = function(){
        document.getElementById('manNav').className = "row";
        document.getElementById('infoProfile').className = "d-none";
    }

    document.getElementById('email').onclick = function(){
        document.getElementById('manNav').className = "row";
        document.getElementById('infoProfile').className = "d-none";
    }

     document.getElementById('change-password').onclick = function(){
        document.getElementById('manNav').className = "row";
        document.getElementById('infoProfile').className = "d-none";
    }
</script>
