@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="row w-100 d-flex justify-content-center">
    <div class="mainContainer d-flex justify-content-center col-5 p-2 border rounded ps-3 pe-3 pb-2">    
        <div class="col-md-8">
            <h1 class="text-center">Регистрация</h1>
           <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-warning"></div>
                <div class="form-floating text-secondary">
                    <input asp-for="Input.Email" class="form-control inputRegister" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input  asp-for="Input.Password" class="form-control inputRegister" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password" class="text-secondary">Пароль*</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input asp-for="Input.ConfirmPassword" class="form-control inputRegister" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="text-secondary">Повторите пароль*</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-dark mt-4 mb-3">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
