.btnAddComment {
    background-color: black;
    box-shadow: 0px 2px 10px 0.3px rgba(200, 254, 254, 0.81) !important;
}


.btnDeleteAttachment {
    background-color: #760a0a;
    box-shadow: 0px 2px 10px 0.3px rgba(200, 254, 254, 0.81) !important;
}

.btnCreateNewPost {
    box-shadow: 0px 2px 10px 0.3px rgba(200, 254, 254, 0.81) !important;
}

