@model PostCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="mainContainer col-9 p-2 border rounded ps-3 pe-3 pb-2">
    <div class="createNewPostsArea row d-flex justify-content-center">
    <h2 class="text-center mt-3">Создать новый пост</h2>
    <div class="col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"><h6>Название</h6></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" for="FormControlTextarea" class="mt-2 mb-2 form-label"><h6 class="m-0">Описание</h6></label>
                <textarea  asp-for="Text" class="form-control" id="FormControlTextarea" rows="3"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <input asp-for="SectionId" value="@Model.SectionId" class="form-control" type="hidden" />
            <br />
            <div class="form-group text-center w-100">
                <input type="submit" value="Создать" class="btnCreateNewPost btn btn-dark mt-3 w-100" />
            </div>
        </form>
    </div>

    <a asp-action="Index" class="text-secondary text-end mt-4">Вернуться к списку постов</a>
</div>




</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
